*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.image {
  position: relative;
}

.image img {
  position: relative;
  width: 100vw;
  height: calc(100vh / 3);
  object-fit:cover;
  display: block;
}

.image span {
  position:absolute;
  left: 50%;
  bottom: calc((100vh / 3) / 2);
  z-index: 1;
  transform: translate(-50%,50%);
  font-size: 2em;
  font-weight: 900;
  text-align:center;
}
